<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
    <title>خرید های شما</title>

    <style>
         @font-face {
            font-family: 'iransans';
            src: url('../font/Woff2/IRANSansXFaNum-Light.woff2') format('woff2'),
                url('../font/Woff/IRANSansXFaNum-Light.woff') format('woff');
            /* Add additional src lines for other font formats if necessary */
            font-weight: bold;
            font-style: normal;
        }

        body{
            font-family : iransans;
            background-image: url('/img/login.jpg');

        }

        .abbas{
            position: relative;
            top :50%;
            left: 50%;
        }
    </style>
</head>
<body dir="rtl">

<div class="container mt-3">

    <div class="row " style="align-items: center;">
        <h2>خرید های شما</h2>
    </div>

    
    <table class="table" dir="rtl" style="text-align: center;">

        <tr style="align-items: center;">
            <th>ردیف</th>
            <th>نام کتاب</th>
            <th>تاریخ سفارش</th>
            <th>تعداد</th>
            <th>قیمت</th>
        
        </tr>
            
        <% let counter = 1 ; %>
                <% boughts.forEach(buy=>{ %>
                    
                        <tr style="align-content: start;">
                        
                            <td><%= counter%></td>
                            <td><%= buy.title %></td>
                            <td><%= buy.date %></td>
                            <td><%= buy.buynumber %></td>
                            <td><%= buy.price %></td>
                        </tr>
                
                            
                    
                    <% counter = counter+1 ; %>
                <%})%>
            
            
    

</table>
</div>

    
</body>

</html>